**/*.env
**/*.plan

**/*.lock.hcl
**/*.backup
**/*.tfstate
**/*.tfvars

*.tfvars
!example.tfvars

.terraform
.idea

host_rsa
host_rsa.pub

backup-agent/internal/adapters/filesystem/testdata/testdir_result

